<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">


<suite name="Eurowings Test Automation Suite">



<test name="Application test cases">
    <classes>


        <class name="com.eurowings.qa.testcases.TC01VerifyFlightStatus"></class>

    </classes>
</test>
</suite>